body{
    background-color: rgb(252, 232, 224);
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(63, 57, 50);
    border-width: 2px;
    width: 50%;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}